@font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    font-style: normal;
    src: url('./../fonts/montserrat/woff/montserrat-light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    font-style: normal;
    src: url('./../fonts/montserrat/woff/montserrat-extralight.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
    src: url('./../fonts/montserrat/woff/montserrat-light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: url('./../fonts/montserrat/woff/montserrat-regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    src: url('./../fonts/montserrat/woff/montserrat-medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    src: url('./../fonts/montserrat/woff/montserrat-semibold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: url('./../fonts/montserrat/woff/montserrat-bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    font-style: normal;
    src: url('./../fonts/montserrat/woff/montserrat-extrabold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
    src: url('./../fonts/montserrat/woff/montserrat-black.woff') format('woff');
    font-display: swap;
}

// Roboto

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    src: url('./../fonts/roboto/woff/roboto-thin.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('./../fonts/roboto/woff/roboto-light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('./../fonts/roboto/woff/roboto-regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url('./../fonts/roboto/woff/roboto-medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url('./../fonts/roboto/woff/roboto-bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    src: url('./../fonts/roboto/woff/roboto-black.woff') format('woff');
    font-display: swap;
}